<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>
    <%- include('header'); %>
<h1>Contact Us</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga modi tempore officiis exercitationem voluptate odit
    molestiae. Incidunt doloribus similique soluta fugit, impedit laboriosam iste eos qui quod sint, cum quia dolores
    ipsa aliquam nihil iure perferendis aut suscipit saepe praesentium. Neque, cupiditate. Maxime deserunt molestias non
    quis omnis. Nam, soluta!</p>

<%- include('footer'); %> 
</body>
</html> 